<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter44631553 = new Ya.Metrika({ id:44631553, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/44631553" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
  <div class="container-fluide main"> 
    <div class="row">
      <a href="#" class="toggle-mnu hidden-lg hidden-md hidden-sm animated fadeIn"><span></span></a>
      <div class="menu col-lg-1 hidden-xs animated fadeInLeft">
        <p class="al">al-rayhan</p>
        <p class="ui">UI & UX Designer</p>
        <ul>
          <li><a onclick="yaCounter44631553.reachGoal('push'); return true;" href="#navproskills">skills</a></li>
          <li><a onclick="yaCounter44631553.reachGoal('push'); return true;" href="#navedu">education</a></li>
          <li><a onclick="yaCounter44631553.reachGoal('push'); return true;" href="#navexp">experience</a></li>
          <li><a onclick="yaCounter44631553.reachGoal('push'); return true;" href="#navport">portfolio</a></li>
          <li><a onclick="yaCounter44631553.reachGoal('push'); return true;" href="#navblog">blog</a></li>
          <li><a onclick="yaCounter44631553.reachGoal('push'); return true;" href="#navpric">pricing</a></li>
          <li><a onclick="yaCounter44631553.reachGoal('push'); return true;" href="#navcont">contact</a></li>
        </ul>
      </div>
      <header class="animated fadeInRight">
        <div class="container header">
          <div class="row headerrow ">
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-mnu">
              <ul>
                <li><a onclick="yaCounter44631553.reachGoal('push'); return true;" href="#navproskills">skills</a></li>
                <li><a onclick="yaCounter44631553.reachGoal('push'); return true;" href="#navedu">education</a></li>
                <li><a onclick="yaCounter44631553.reachGoal('push'); return true;" href="#navexp">experience</a></li>
                <li><a onclick="yaCounter44631553.reachGoal('push'); return true;" href="#navport">portfolio</a></li>
                <li><a onclick="yaCounter44631553.reachGoal('push'); return true;" href="#navblog">blog</a></li>
                <li><a onclick="yaCounter44631553.reachGoal('push'); return true;" href="#navpric">pricing</a></li>
                <li><a onclick="yaCounter44631553.reachGoal('push'); return true;" href="#navcont">contact</a></li>
              </ul>           
            </div>
            <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2   hidden-sm hidden-xs profile-img animated fadeInDownBig">
              <img src="../assets/img/ProfileImage.png" alt="profileimg">
            </div>
            <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-9  col-sm-offset-3 col-xs-12 header-text animated fadeInDownBig">
              <p class="hello">hello i’m</p>
              <h1>shekh al <span>rayhan</span></h1>
              <p class="ui2">UI & UX Designer</p>
              <p class="about-me">Hello, I’m a <span>UI/UX</span> Designer  from  <span>DeviserWeb</span>, Bangladesh. I hold a master degree of Web  Design from the World University. It has a survived not only five   centuries, hello a also the leap into electronic typesetting,   remaining essentially unchanged.</p>
              <ul>
                <li><a href="#">portfolio<div class="border"></div></a></li>
                <li><a href="#">about me<div class="border"></div></a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <section>
        <div class="container content">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 proskill animated fadeInRightBig">
              <h2 id="navproskills">professional skills</h2>
              <div class="underlining"></div>
            </div>
          </div>
          <div class="row skills">
            <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-3 col-xs-10 skill">
              <p>Adobe CC Suite</p>
            </div>
            <div class="col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2 col-sm-1 col-sm-offset-4 col-xs-2 percent">
              <p  class="procent">10%</p>
            </div>
            <div class="col-sm-7 col-sm-offset-3 col-xs-12 hidden-lg hidden-md progress ">
              <div class="myProgress"></div>
            </div>
            <div class="col-lg-2 col-lg-offset-0 col-md-offset-0 col-md-2 col-sm-3 col-sm-offset-3 col-xs-10 skill">
              <p>Sketch App</p>
            </div>
            <div class="col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2 col-sm-1 col-sm-offset-4 col-xs-2 percent">
              <p class="procent">10%</p>
            </div>
            <div class="col-sm-7 col-sm-offset-3 col-xs-12 hidden-lg hidden-md  progress">
              <div class="myProgress"></div>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 hidden-sm hidden-xs  progress progress1">
              <div class="myProgress"></div>
            </div>
            <div class="col-lg-5 col-md-5 hidden-sm hidden-xs progress">
              <div class="myProgress"></div>
            </div>
            <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-3 col-xs-10 skill"  id="html5" sean="1">
              <p>html5/css3</p>
            </div>
            <div class="col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2 col-sm-1 col-sm-offset-4 col-xs-2 percent">
              <p class="procent">10%</p>
            </div>
            <div class="col-sm-7 col-sm-offset-3 col-xs-12 hidden-lg hidden-md  progress ">
              <div class="myProgress"></div>
            </div>
            <div class="col-lg-2 col-lg-offset-0 col-md-offset-0 col-md-2 col-sm-3 col-sm-offset-3 col-xs-10 skill">
              <p>wordpress</p>
            </div>
            <div class="col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2 col-sm-1 col-sm-offset-4 col-xs-2 percent">
              <p class="procent">10%</p>
            </div>
            <div class="col-sm-7 col-sm-offset-3 col-xs-12 hidden-lg hidden-md progress">
              <div class="myProgress"></div>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 hidden-sm hidden-xs  progress progress1">
              <div class="myProgress"></div>
            </div>
            <div class="col-lg-5 col-md-5 hidden-sm hidden-xs  progress">
              <div class="myProgress"></div>
            </div>
            <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-3 col-xs-10 skill">
              <p>drupal</p>
            </div>
            <div class="col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2 col-sm-1 col-sm-offset-4 col-xs-2 percent">
              <p  class="procent">10%</p>
            </div>
            <div class="col-sm-7 col-sm-offset-3 col-xs-12 hidden-lg hidden-md progress">
              <div class="myProgress"></div>
            </div>
            <div class="col-lg-2 col-lg-offset-0 col-md-offset-0 col-md-2 col-sm-3 col-sm-offset-3 col-xs-10 skill">
              <p>shopify</p>
            </div>
            <div class="col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2 col-sm-1 col-sm-offset-4 col-xs-2 percent">
              <p class="procent">10%</p>
            </div>
            <div class="col-sm-7 col-sm-offset-3 col-xs-12 hidden-lg hidden-md progress progresssm">
              <div class="myProgress"></div>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 hidden-sm hidden-xs  progress progress1">
              <div class="myProgress"></div>
            </div>
            <div class="col-lg-5 col-md-5 hidden-sm hidden-xs progress">
              <div class="myProgress"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="sectionbackground">
        <div class="container content">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 education">
              <h2 id="navedu">education</h2>
              <div class="underlining"></div>
            </div>
          </div>
          <div class="row eduex eduexbg">
            <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-md-9 col-sm-offset-3">
              <ul>
                <li class="num">
                  <a href="#">01</a>
                </li>
                <li class="text">
                  <a href="#">university of design</a>
                </li>
              </ul>
              <p class="degree">
                MASTER DEGREE OF DESIGN <br> Session: 2012 – 2013
              </p>  
              <p class="descr">
                Lorem Ipsum is simply dummy text of printing an typesetting dustry. Lorem Ipsum the industry's dummy.
              </p>
            </div>
            <div class="col-lg-5 col-lg-offset-0 col-md-offset-0 col-md-5 col-md-9 col-sm-offset-3">
              <ul>
                <li class="num">
                  <a href="#">02</a>
                </li>
                <li class="text">
                  <a href="#">degree of design</a>
                </li>
              </ul>
              <p class="degree">
                MASTER DEGREE OF DESIGN <br> Session: 2012 – 2013
              </p>  
              <p class="descr">
                Lorem Ipsum is simply dummy text of printing an typesetting dustry. Lorem Ipsum the industry's dummy.
              </p>
            </div>
          </div>
          <div class="row eduex eduex2 eduexbg">
            <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-md-9 col-sm-offset-3">
              <ul>
                <li class="num">
                  <a href="#">03</a>
                </li>
                <li class="text">
                  <a href="#">visual ard & design</a>
                </li>
              </ul>
              <p class="degree">
                MASTER DEGREE OF DESIGN <br> Session: 2012 – 2013
              </p>  
              <p class="descr">
                Lorem Ipsum is simply dummy text of printing an typesetting dustry. Lorem Ipsum the industry's dummy.
              </p>
            </div>
            <div class="col-lg-5 col-lg-offset-0 col-md-offset-0 col-md-5 col-md-9 col-sm-offset-3">
              <ul>
                <li class="num">
                  <a href="#">04</a>
                </li>
                <li class="text">
                  <a href="#">visual art & design</a>
                </li>
              </ul>
              <p class="degree">
                MASTER DEGREE OF DESIGN <br> Session: 2012 – 2013
              </p>  
              <p class="descr">
                Lorem Ipsum is simply dummy text of printing an typesetting dustry. Lorem Ipsum the industry's dummy.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container content">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 experience">
              <h2 id="navexp">experience</h2>
              <div class="underlining"></div>
            </div>
          </div>
          <div class="row eduex">
            <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-md-9 col-sm-offset-3">
              <ul>
                <li class="num">
                  <a href="#">01</a>
                </li>
                <li class="text">
                  <a href="#">basundhara group</a>
                </li>
              </ul>
              <p class="degree">
                ui & ux designer <br> Session: 2014 – present
              </p>  
              <p class="descr">
                Lorem Ipsum is simply dummy text of printing an typesetting dustry. Lorem Ipsum the industry's dummy.
              </p>
            </div>
            <div class="col-lg-5 col-lg-offset-0 col-md-offset-0 col-md-5 col-md-9 col-sm-offset-3">
              <ul>
                <li class="num">
                  <a href="#">02</a>
                </li>
                <li class="text">
                  <a href="#">deviserweb</a>
                </li>
              </ul>
              <p class="degree">
                co-founder & coo <br> Session: 2012 – present
              </p>  
              <p class="descr">
                Lorem Ipsum is simply dummy text of printing an typesetting dustry. Lorem Ipsum the industry's dummy.
              </p>
            </div>
          </div>
          <div class="row eduex eduex2">
            <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-md-9 col-sm-offset-3">
              <ul>
                <li class="num">
                  <a href="#">03</a>
                </li>
                <li class="text">
                  <a href="#">envato studio</a>
                </li>
              </ul>
              <p class="degree">
                exclusive author <br> Session: 2011 – present
              </p>  
              <p class="descr">
                Lorem Ipsum is simply dummy text of printing an typesetting dustry. Lorem Ipsum the industry's dummy.
              </p>
            </div>
            <div class="col-lg-5 col-lg-offset-0 col-md-offset-0 col-md-5 col-md-9 col-sm-offset-3">
              <ul>
                <li class="num">
                  <a href="#">04</a>
                </li>
                <li class="text">
                  <a href="#">googldesign</a>
                </li>
              </ul>
              <p class="degree">
                ui & ux designer <br> Session: 2010 – 2013
              </p>  
              <p class="descr">
                Lorem Ipsum is simply dummy text of printing an typesetting dustry. Lorem Ipsum the industry's dummy.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="sectionbackground">
        <div class="container content">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 projects">
              <h2 id="navport">recent project</h2>
              <div class="underlining"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-8 col-sm-offset-3 col-xs-12 portf">
              <div class="portfcontainer">
                <a href="">
                  <div class="overlay">
                    <img class="cardimg" src="../assets/img/Portfolio-Image.png" alt="project">
                    <div class="cross"></div>
                  </div>
                </a>
                <p class="card">
                  UX Designer Personal Card
                </p>  
                <p class="descr2">
                  Another card designed for designers. Another color variation attached ,   Have fun 
                </p>
              </div>
            </div>
            <div class="col-lg-5 col-lg-offset-0 col-md-offset-0 col-md-5 col-sm-8 col-sm-offset-3 col-xs-12 portf">
              <div class="portfcontainer">
                <a href="">
                  <div class="overlay">
                    <img class="cardimg" src="../assets/img/Portfolio-Image.png" alt="project">
                    <div class="cross"></div>
                  </div>
                </a>
                <p class="card">
                  UX Designer Personal Card
                </p>  
                <p class="descr2">
                  Another card designed for designers. Another color variation attached ,  Have fun 
                </p>
              </div>
            </div>  
          </div>
          <div class="row">
            <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-8 col-sm-offset-3 col-xs-12 portf">
              <div class="portfcontainer">
                <a href="">
                  <div class="overlay">
                    <img class="cardimg" src="../assets/img/Portfolio-Image.png" alt="project">
                    <div class="cross"></div>
                  </div>
                </a>
                <p class="card">
                  UX Designer Personal Card
                </p>  
                <p class="descr2">
                  Another card designed for designers. Another color variation attached ,   Have fun 
                </p>
              </div>
            </div>
            <div class="col-lg-5 col-lg-offset-0 col-md-offset-0 col-md-5 col-sm-8 col-sm-offset-3 col-xs-12 portf">
              <div class="portfcontainer">
                <a href="">
                  <div class="overlay">
                    <img class="cardimg" src="../assets/img/Portfolio-Image.png" alt="project">
                    <div class="cross"></div>
                  </div>
                </a>
                <p class="card">
                  UX Designer Personal Card
                </p>  
                <p class="descr2">
                  Another card designed for designers. Another color variation attached ,   Have fun 
                </p>
              </div>
            </div>  
          </div>
        </div>
      </section>
      <section>
        <div class="container content">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 col-xs-12 col-xs-offset-0 recentp">
              <h2 id="navblog">recent post</h2>
              <div class="underlining"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 carousel">
              <div class="slider hidden-sm hidden-xs">
                <div class="customPrevBtn" onclick="yaCounter44631553.reachGoal('push'); return true;"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <div class="customNextBtn" onclick="yaCounter44631553.reachGoal('push'); return true;"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
              </div>
              <div class="points">
                <div class="owl-dot"><div class="triangle hidden-sm hidden-xs"></div><div class="hidden-sm hidden-xs">20 Jan</div></div>
                <div class="owl-dot"><div class="triangle hidden-sm hidden-xs"></div><div class="hidden-sm hidden-xs">10 Feb</div></div>
                <div class="owl-dot"><div class="triangle hidden-sm hidden-xs"></div><div class="hidden-sm hidden-xs">20 Jun</div></div>
                <div class="owl-dot"><div class="triangle hidden-sm hidden-xs"></div><div class="hidden-sm hidden-xs">20 Nov</div></div>
                <div class="owl-dot"><div class="triangle hidden-sm hidden-xs"></div><div class="hidden-sm hidden-xs">19 Dec</div></div>
                <div class="owl-dot"><div class="triangle hidden-sm hidden-xs"></div><div class="hidden-sm hidden-xs">26 Dec</div></div>
              </div>
              <div class="owl-carousel">
                <div>
                  <img src="../assets/img/PostImage.png" alt="post">
                  <p class="perscard">UX Designer Personal Card</p>
                  <p class="date">Jun  20th  2016</p>
                  <p class="descr6">Lorem Ipsum is simply dummy text of the the of theprinting and typ setting industry. lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                  <ul>
                    <li><a href="#">Read More<div class="border"></div></a></li>
                  </ul>
                </div>
                <div><img src="../assets/img/PostImage.png" alt="post">
                  <p class="perscard">UX Designer Personal Card</p>
                  <p class="date">Jun  20th  2016</p>
                  <p class="descr6">Lorem Ipsum is simply dummy text of the the of theprinting and typ setting industry. lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                  <ul>
                    <li><a href="#">Read More<div class="border"></div></a></li>
                  </ul>
                </div>
                <div><img src="../assets/img/PostImage.png" alt="post">
                  <p class="perscard">UX Designer Personal Card</p>
                  <p class="date">Jun  20th  2016</p>
                  <p class="descr6">Lorem Ipsum is simply dummy text of the the of theprinting and typ setting industry. lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                  <ul>
                    <li><a href="#">Read More<div class="border"></div></a></li>
                  </ul>
                </div>
                <div><img src="../assets/img/PostImage.png" alt="post">
                  <p class="perscard">UX Designer Personal Card</p>
                  <p class="date">Jun  20th  2016</p>
                  <p class="descr6">Lorem Ipsum is simply dummy text of the the of theprinting and typ setting industry. lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                  <ul>
                    <li><a href="#">Read More <div class="border"></div></a></li>
                  </ul>
                </div>
                <div><img src="../assets/img/PostImage.png" alt="post">
                  <p class="perscard">UX Designer Personal Card</p>
                  <p class="date">Jun  20th  2016</p>
                  <p class="descr6">Lorem Ipsum is simply dummy text of the the of theprinting and typ setting industry. lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                  <ul>
                    <li><a href="#">Read More<div class="border"></div></a></li>
                  </ul>
                </div>
                <div><img src="../assets/img/PostImage.png" alt="post">
                  <p class="perscard">UX Designer Personal Card</p>
                  <p class="date">Jun  20th  2016</p>
                  <p class="descr6">Lorem Ipsum is simply dummy text of the the of theprinting and typ setting industry. lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                  <ul>
                    <li><a href="#">Read More<div class="border"></div></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="sectionbackground">
        <div class="container content">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 priplan">
              <h2 id="navpric">Pricing Plan</h2>
              <div class="underlining"></div>
            </div>
          </div>
          <div class="row bc">
            <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-8 col-sm-offset-4 col-xs-12 col-xs-offset-0 plancard">
              <p class="price">app design / <span>$199</span></p>
              <p class="descr7">Lorem Ipsum is simply dummy text of the the printing and typ setting industry.</p>
              <div>
                <p class="tl">Project</p>
                <p class="tr">10</p>
              </div>
              <div class="linebord">
                <p class="tl">storage</p>
                <p class="tr">100gb</p>
              </div>
              <div>
                <p class="tl">support</p>
                <p class="tr">1 month</p>
              </div>
              <ul>
                <li><a href="#">Register Now<div class="border"></div></a></li>
              </ul>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 plancard">
              <p class="price">web design / <span>$299</span></p>
              <p class="descr7">Lorem Ipsum is simply dummy text of the the printing and typ setting industry.</p>
              <div>
                <p class="tl">Project</p>
                <p class="tr">10</p>
              </div>
              <div class="linebord">
                <p class="tl">storage</p>
                <p class="tr">100gb</p>
              </div>
              <div>
                <p class="tl">support</p>
                <p class="tr">1 month</p>
              </div>
              <ul>
                <li><a href="#">Register Now<div class="border"></div></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="sectionbackgroundimg">
        <div class="container content">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 clients">
              <h2 id="navcont">Client’s Feedback</h2>
              <div class="underlining"></div>
            </div>
          </div>
          <div class="row bi ">
            <div class="col-lg-10 col-lg-offset-2 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 clientsinfo">
              <img onclick="yaCounter44631553.reachGoal('push'); return true;" id="client1" src="../assets/img/Client.png" alt="client">
              <img onclick="yaCounter44631553.reachGoal('push'); return true;" id="client2" class="active1" src="../assets/img/Client.png" alt="client">
              <img onclick="yaCounter44631553.reachGoal('push'); return true;" id="client3" src="../assets/img/Client.png" alt="client">
              <div id="abtclient1">
                <p class="name8">junaed ahmed</p>
                <p class="ui8">UI/UX Designer at <span> DeviserWeb</span></p>
                <p class="descr8">Ut libero elit, consequat sed urna id, rhoncus dictum arcu. Nam dui velit, sagittis id justo id, dapibus condimentum eros. Nunc nec massa eget neque posuere tincidunt. Duis non leo turpis. Vestibulum a sem purus. Nam vitae lacinia justo. Donec et pellentesque ante, sit amet porttitor sem. Sed ac urna diam. Suspendisse in</p>
              </div>
              <div id="abtclient2">
                <p class="name8">lorem lorem</p>
                <p class="ui8">UI/UX Designer at <span> DeviserWeb</span></p>
                <p class="descr8">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type  specimen book. It has survived not only five centuries, but also the leap <br> into electronic typesetting, remaining essentially</p>
              </div>
              <div id="abtclient3">
                <p class="name8">ivan ivan</p>
                <p class="ui8">UI/UX Designer at <span> DeviserWeb</span></p>
                <p class="descr8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non laoreet risus, ac semper urna. Pellentesque tempus, ante non commodo luctus, elit leo iaculis nunc, fermentum consectetur leo tortor sed ligula. Nam sed posuere justo. Nam pulvinar accumsan pharetra. Fusce ligula nunc, fermentum tempus porttitor et, tristique a mi</p>
              </div>                            
            </div>
          </div>
        </div>
      </section>
      <section class="sectionbackground">
        <div class="container content">
          <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 sayhello">
            <h2>say hello</h2>
            <div class="underlining"></div>
          </div>
          <div class="col-lg-3 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-9 col-sm-offset-3  colum1">
            <div class="loc">
              <i class="pe-7s-home"></i>
              <p class="location">location</p>
              <p class="adres">350 Fifth Avenue, 110th floor. 3100 New York.</p>
            </div>
            <div class="contact">
              <i class="pe-7s-mail-open"></i>
              <p class="location">contact</p>
              <p class="adres">arpon007das@gmail.com onlinearpon@gmail.com</p>
            </div>
            <div class="social hidden-sm hidden-xs"><i class="fa fa-facebook" aria-hidden="true"></i><i class="fa fa-dribbble" aria-hidden="true"></i><i class="fa fa-twitter" aria-hidden="true"></i><i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-lg-6 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-9 col-sm-offset-3  colum2">
            <form>
              <input type="text" name="first_name" placeholder="Your Name">
              <input type="text" name="email" placeholder="Your Email">
              <input class="inp" type="text" name="first_name" placeholder="What Are you Interested" list="interests">
              <datalist id="interests">
                <option value="html"></option>
                <option value="cs"></option>
                <option value="js"></option>
              </datalist>
              <textarea name="message" id="message" placeholder="Type Your Message"></textarea>
            </form>
            <ul>
              <li><a href="#">Lets Talk To Me<div class="border"></div></a></li>
            </ul>
            <div class="social hidden-lg hidden-md"><i class="fa fa-facebook" aria-hidden="true"></i><i class="fa fa-dribbble" aria-hidden="true"></i><i class="fa fa-twitter" aria-hidden="true"></i><i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>  
  <script src="../assets/js/scripts.min.js"></script>